/* CSS by Briana Osborn*/

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}



/*Skip Link Styles */
.skip-to-content-link {
  background: #FFFFFF;
  color: #1D3557;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

/*Navigation Styles */

header, header p {
  background-color: #1D3557;
  color: #F1FAEE;
  text-decoration: none;
}

header {
  padding: 30px;
}



.menu a {
  background-color: #E63946;
  color: #F1FAEE;
  text-decoration: none;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border:#E63946;
}

.menu {
  display: flex;
  margin-bottom: 15px;
}

.menu-button {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.menu-button:hover {
  background-color: #1D3557;
}

.tagline {
  display: flex;
  padding-bottom: 25px;
}

h1 {
  padding-bottom: 10px;
}

/* Global Layout Styles */

body {
  background-color: #F1FAEE;
  margin: 0;
  padding: 0;
}

/* Global Text Styles */

h1, h2, h3, nav a {
  font-family: 'Merriweather', serif;
}

p, small, form, form button {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
}


h1 {
  font-size: 48px;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

h2 {
  font-size: 25px;
  padding-top: 15px;
  display: inline;
}

h3 {
  font-size: 18px;
  line-height: 1.5;
  /* Line between text */
  padding-bottom: 8px; 
  margin-bottom: 8px; 
  border-bottom: 1px solid black;
}

#breaking-news-first, #breaking-news-second {
  background-color: #E63946;
  color: #F1FAEE;
  margin: 10px;
  padding: 15px;
  border: 0.5px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#breaking-news h3 {
  /* Line between text */
  padding-bottom: 8px; 
  margin-bottom: 8px; 
  border-bottom: 1px solid #F1FAEE;
}


#featured-articles section {
  border: 0.5px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 15px;
  padding: 12px;
}

#alerts {
    padding-top: 20px;
  }

/*Form Styles */
form {
  background-color: #E63946;
  color: #F1FAEE;
  margin: 20px;
  padding: 15px;
  border: 0.5px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
} 

fieldset {
  border: 1px solid #1D3557;
  margin: 10px;
  padding: 5px;
}

form button {
  background-color: #1D3557;
  color: #F1FAEE;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px;
  font-size: 20px;
}

input[type="checkbox"] {
  width: 20px;  
  height: 20px; 
}

input[type="text"], input[type="tel"] {
  display: block;
  width: 50%; 
  height: 10px; 
  font-size: 18px; 
  padding: 10px; 
}


/* Footer Styles */
footer {
  background-color: #1D3557;
  color: #F1FAEE;
  padding: 50px;
}


.followLinks a {
  background-color: #E63946;
  color: #F1FAEE;
  text-decoration: none;
  width: 15px;
  height: 15px;
  margin-right: 12px;
  padding: 10px;
}

.followLinks {
  display: flex;
  margin-bottom: 15px;
  padding-top: 25px;
  Padding-bottom: 10px;
}

small {
  display: flex;
  justify-content: center;
  font-size: 12px;
}


/* medium styles 620px */
@media screen and (min-width: 620px) {
  #breaking-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #breaking-news h2 {
    grid-column: 1 / span 2;
    padding-bottom: 10px;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #featured-articles h2 {
    grid-column: 1 / span 2;
    padding-bottom: 10px;
  }

  main {
    padding: 20px;
  }

}

/* large styles 920px */
@media screen and (min-width: 920px) {
  #breaking-news {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #breaking-news h2 {
    grid-column: 1 / span 3;
    padding-bottom: 10px;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #featured-articles h2 {
    grid-column: 1 / span 3;
    padding-bottom: 10px;
  }

  main {
    padding: 30px;
  }
}


/* x-large styles 1024px */
@media screen and (min-width: 1024px) {
  #breaking-news {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #breaking-news h2 {
    grid-column: 1 / span 3;
    padding-bottom: 10px;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #featured-articles h2 {
    grid-column: 1 / span 3;
    padding-bottom: 10px;
  }

  main {
    padding: 50px;
  }
}

/* XXL page styles 1700px */
/* I added this because I have a 2400 screen width on my monitor :)*/
@media screen and (min-width: 2000px) {
  #breaking-news {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #breaking-news h2 {
    grid-column: 1 / span 3;
    padding-bottom: 10px;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  #featured-articles h2 {
    grid-column: 1 / span 3;
    padding-bottom: 10px;
  }

  main {
    padding: 50px;
    padding-left: 500px;
    padding-right: 500px;
  }
}



/*Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  #featured-articles section {
    border: 0.5px solid #457B9D;
  }
}

@media (prefers-color-scheme: light) {
  #featured-articles section {
    border: 0.5px solid black;
  }
}


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}